<div class="container mx-auto min-h-screen flex flex-col justify-center">
  <div class="block md:flex h-4/5 items-center justify-between">
    <div class="w-full md:w-1/2 my-32 md:my-0">
      <h3 class="text-3xl md:text-5xl leading-[60px] mb-1 md:mb-3 font-normal">
        Customer 360 <span class="font-semibold">Services</span>
      </h3>
      <div
        class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
      ></div>
      <p class="font-normal text-sm my-2">
        Move Archive Data to Various Platforms at Any time
      </p>
    </div>
    <div class="hidden md:block w-2/5">
      <img
        src="/assets/images/service/06.webp"
        style="margin: 0 auto"
        width="90%"
        alt=""
      />
    </div>
  </div>
  <div class="mt-8">
    <p class="font-normal text-sm">
      Customer 360 service is an approach towards customers of an organization
      to deliver a holistic approach. The tools are integrated to present a
      better experience and build a robust relationship by focusing on essential
      factors. It helps to develop long-term customer relationships and improve
      appearance. The service helps to seek and simplify customer interaction
      through multiple platforms. It encourages understanding the customer
      better, provides a personalized experience by matching their demand. It
      supports the customer through direct or third-party integration for a
      better experience.
      <br />
      <br />
      Customer 360 service is required in every organization to improve
      connection with the customer. Data helps to understand it better and make
      it more reliable, accurate, and scalable. The customer data assists in
      discovering factors like product, demographics, people, and more. The
      information is valuable and is a benefit for suitable customers. The new
      or existing market can be beneficial with Customer 360 services. The
      unique experience is the crucial element for every organization.
    </p>
  </div>

  <div class="my-10 py-6">
    <h4 class="font-semibold text-xl md:text-3xl">
      How Customer 360 Service Helps Businesses?
    </h4>
    <div class="flex flex-wrap my-8 gap-8">
      <div *ngFor="let item of benefit" class="flex items-center gap-3 mr-8">
        <div class="w-2 h-2 rounded-sm mr-4 bg-black"></div>
        <p class="whitespace-nowrap w-11/12">{{ item }}</p>
      </div>
    </div>
    <div class="my-6">
      <p class="font-normal text-base my-2">
        We helps you to overcome all challenges by providing quality Text
        Analytics services at an affordable price. Our professional experts can
        synchronize our analytical solutions with your organization's strategic,
        tactical, and operational aims. We provide you with software depending
        on your business demands. It will help you to optimize your business,
        future decisions, data-driven results, and more. Our output is seamless
        and futuristic, which will help you to be ahead of others. It will help
        you to analyze every aspect and model of the project.
      </p>
      <br />
      <p class="font-normal text-base my-2">
        Our skilled team has a comprehensive view of the available options,
        encouraging you to assess commercial and open source options. Our
        expertise in the Chatbots domain has provided businesses' demand for
        actionable insights from their online and offline data sources. We are a
        vendor-neutral player, we audit, consult and implement an optimized data
        strategy to gain a competing edge. We have clever automated customer
        service that assists the customer at any time and immediately.
      </p>
    </div>
  </div>
  <div class="my-4 py-3">
    <h4 class="font-semibold text-xl md:text-3xl">
      Our Customer 360 Service Include
    </h4>
    <div class="flex flex-wrap my-6 gap-4">
      <div
        *ngFor="let item of services"
        class="flex items-center w-full sm:w-1/5 gap-3 mr-8"
      >
        <div class="w-2 h-2 rounded-sm mr-4 bg-black"></div>
        <p class="whitespace-normal w-11/12">{{ item }}</p>
      </div>
    </div>
  </div>

  <div class="my-4 py-3">
    <h4 class="font-semibold text-xl md:text-3xl">
      Our Analytics Solution For Various Businesses
    </h4>
    <div class="flex flex-wrap my-6 gap-4">
      <div *ngFor="let item of solutions" class="flex items-center gap-3 mr-8">
        <div class="w-2 h-2 rounded-sm mr-4 bg-black"></div>
        <p class="whitespace-nowrap w-11/12">{{ item }}</p>
      </div>
    </div>
  </div>
  <div class="my-4 py-3">
    <h4 class="font-semibold text-xl md:text-3xl">
      Why Morawo Systems Is The Best Place For Customer 360
    </h4>
    <p class="font-normal text-base my-2">
      • We ensure consistency and quality of data being used for analytics
      <br /><br />
      • We reduce data retrieval problems <br /><br />
      • Make decisions more efficiently with a highly visual representation of
      data.<br /><br />
      • We use social media analytics like media and behavioral analytics
      <br /><br />
      • We allow personalization to connect with viewers <br /><br />
      • Track quality of content and viewership and get targeted advertising
      <br /><br />
      • Our team helps uncover new revenue streams. <br /><br />
    </p>
  </div>
</div>
