<div class="fixed w-full h-20 lg:h-24 z-10 top-0 bg-white">
  <div class="container mx-auto py-4 lg:py-6 section-head">
    <div class="flex justify-between items-center">
      <div class="w-48">
        <img
          src="/assets/images/morawoIcon.png"
          width="100%"
          height="30px"
          alt=""
        />
      </div>
      <div class="nav-control p-3">
        <ul class="flex gap-10 mx-8">
          <li
            style="list-style: none"
            class="cursor-pointer"
            *ngFor="let item of navItems"
          >
            <a
              class="text-base text-body-grey font-medium hover:font-bold:"
              style="text-decoration: none"
              [href]="item.path"
            >
              {{ item.label }}</a
            >
          </li>
        </ul>
      </div>
      <div class="hidden lg:block lg:min-w-36">
        <button
          (click)="handleOpenModal()"
          class=" flex gap-2 justify-center rounded-lg font-medium p-3 bg-black text-white w-full"
        >
          Contact Us
        </button>
      </div>
      <div
        class="block lg:hidden text-fine-green"
        *ngIf="showList"
        (click)="onShowList()"
      >
        <img src="assets/icons/menu_close.svg" alt="menu" width="30px" />
      </div>
      <div
        class="block lg:hidden text-fine-green"
        *ngIf="!showList"
        (click)="onShowList()"
      >
        <img
          src="assets/icons/menu-fill.svg"
          class="text-fine-green"
          width="30px"
          alt="menu"
        />
      </div>
    </div>
  </div>
</div>

<!-- SMALL SCREEN -->
<div *ngIf="showList">
  <div class="sideNav-container">
    <div class="backdrop" (click)="onShowList()">
      <div class="sideNav-style h-screen w-11/12 md:w-3/5 bg-white">
        <li
          style="list-style: none"
          class="cursor-pointer m-4 p-3 bg-light-green rounded-md"
          *ngFor="let item of navItems"
        >
          <a
            class="text-base font-medium text-grey-one"
            style="text-decoration: none"
            [href]="item.path"
          >
            {{ item.label }}</a
          >
        </li>
       
      </div>
    </div>
  </div>
</div>
