<div class="container mx-auto min-h-screen flex flex-col justify-center">
  <div class="h-4/5 items-center justify-between">
    <div class="w-full md:my-0">
      <h3
        class="text-3xl md:text-5xl leading-[60px] mb-1 md:mb-3 font-semibold"
      >
        Oil and Gas
      </h3>

      <div
        class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
      ></div>
      <p class="font-normal text-sm my-2">
        Data analytics facilitates increase in performance and
        cost-effectiveness in the oil and Gas industry.
      </p>
    </div>
    <div class="mt-10 md:block w-full md:w-4/5 mx-a">
      <img src="/assets/images/industry/oil.webp" width="90%" alt="" />
    </div>
  </div>
  <div class="mt-10">
    <p class="text-sm md:text-base">
      Digitization is now a necessity for the competitiveness of operators in
      the long term. In the years to come, the oil industry will be redefined by
      those who take advantage of this digital revolution to evolve.<br />
      <br />

      Among the challenges facing the oil and gas industry today, big data is a
      source of optimism. Indeed, there are many challenges for the oil and gas
      industry, caught between rising production costs and fluctuating prices.
      In this context, and in the face of shrinking margins, it is advisable to
      revisit the existing models, relying more and more on the power of big
      data. In other words, the challenges facing the sector today are an
      opportunity for operations to rethink the way they work.<br /><br />

      Faced with the challenges facing the oil and gas industry today, Big Data
      now presents itself as an opportunity to be seized. Businesses must meet
      an exponential demand for energy from around the world. At the same time,
      the industrial ecosystem is always more difficult. Production costs are on
      the rise, and the only way to increase margins is to surrender to the
      power of Big Data. 
      <br /><br />
      From tank to refinery, analytical technologies help optimize operations by reducing operational costs and increasing productivity.
    </p>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
        The recognition of the value of data impact a business
    </h4>
    <p class="font-normal my-2 text-sm">
        Recognizing the value of data allows to gain in effectiveness, vision and competitiveness, since by implementing new platforms and applications of Industry 4.0, such as Big Data, a comprehensive analysis of business processes can be carried out, anticipating failures and identifying improvements in each of the operations. 
    </p>
    <p class="font-normal my-2 text-sm">
        There is no doubt that data is a valuable asset for each company, allowing the integration, automation and optimization of processes, using data analysis technologies that are being promoted in all industries.  
    </p>
    <p class="font-normal my-2 text-sm">
        The amount of data that a company acquires is increasing, so it is essential to take measures against its proper management and analysis, which can guarantee economic and operational benefits. 
    </p>
    <p class="font-normal my-2 text-sm">
        In addition, Big Data and the development of task automation tools allow to act quickly and efficiently. Therefore, there is a need to select relevant and consistent data as a crucial aspect to determine the growth opportunities and threats that the company may present, to agilely face business challenges with quality data.
    </p>
   
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Benefits of Data analytics in businesses
    </h4>
    <p class="font-normal my-2 text-sm">
      • Generation of data reports so that companies can anticipate the future, facing decision-making at different levels and in various organizational areas, based on reliable data.
    </p>
    <p class="font-normal my-2 text-sm">
      • Avoid incomplete, imprecise or fragmented, duplicate or inconsistent data, achieving the acquisition of quality data. 
    </p>
    <p class="font-normal my-2 text-sm">
      • Analysis of variables and records of detected anomalies.  
    </p>
    <p class="font-normal my-2 text-sm">
      • Generation of alerts against possible failures in the processes.
    </p>
    <p class="font-normal my-2 text-sm">
      • Expansion of the vision of business processes, with the possibility of improvements in the quality of products and services.
    </p>
    <p class="font-normal my-2 text-sm">
      • Optimization and efficiency of processes in real time.
    </p>
    <p class="font-normal my-2 text-sm">
      • Improvements in the customer experience.
    </p>
    <p class="font-normal my-2 text-sm">
      • Monetize data for quantifiable revenue and opportunities.
    </p>
  </div>

  <div class="my-5">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Morawo can assist you to digitize your company's processes with data analytics
    </h4>
    <p class="font-normal text-sm my-2">
      At Morawo, we recognize that data has value only when it is understandable, otherwise it is nothing more than random observations. For this reason, we can assist you to incorporate technologies such as the Internet of Things (IoT), Big Data, Machine learning and Dashboard, to acquire data, store it and visualize it in real time, which influence well actionable decision making informed.
    </p>
    <p class="font-normal text-sm my-2">
      We carry out data analytics of business processes, in order to use them as knowledge to improve operations within any business ecosystem.
    </p>
    <p class="font-normal text-sm my-2">
      We understand that the objective of the data should be to support and promote business strategies, through the analysis of large volumes of data, selecting quality data that facilitate critical decision-making in the face of consolidated initiatives and processes in each business.
    </p>
    <p class="font-normal text-sm my-2">
      Morawo provides companies with strategies tailored to their needs that add value to their data, providing a logical structure for analysis that has a positive impact on business success.
    </p>
  </div>
</div>
