<div class="container mx-auto min-h-screen flex flex-col justify-center">
  <div class="block md:flex h-4/5 items-center justify-between">
    <div class="w-full md:w-1/2 my-32 md:my-0">
      <h3 class="text-3xl md:text-5xl leading-[60px] mb-1 md:mb-3 font-normal">
        IOT Analytics <span class="font-semibold">Services</span>
      </h3>
      <div
        class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
      ></div>
      <p class="font-normal text-sm my-2">
        Improve Your Business Performance With IoT Analytics
      </p>
    </div>
    <div class="hidden md:block w-2/5">
      <img
        src="/assets/images/service/05.webp"
        style="margin: 0 auto"
        width="90%"
        alt=""
      />
    </div>
  </div>
  <div class="mt-8">
    <p class="font-normal text-sm">
      IoT Analytics is the subset of Data Analysis tools and delivers valuable
      data from the collected data through the IoT device. Among massive volumes
      of data, IoT Analytics chose the best one for businesses. It helps to
      enhance industries by collecting data. In the IoT Analytics service, the
      data are analyzed from a sensor on manufacturing components, meters,
      pipelines, etc. It empowers management and helps IoT data turn into
      actionable insights by applying IoT analytics platform.
      <br />
      <br />
      IoT Analytics service offers benefits for the data management centers and
      other facilities applications. The service helps existing and future
      devices to improve the performance of the devices. The system is connected
      for business analysis and reporting. The valuable information is extracted
      from yield consistent and multiple devices for data integration.<br />
      <br />
      IoT predicts, understands, and performs robust insights that integrate
      data for business in real-time. IoT analytics tool gather relevant  data
      points that are appealing to their output for analysis.
    </p>
  </div>

  <div class="my-10 py-6">
    <h4 class="font-semibold text-xl md:text-3xl">
      How IoT Analytics Help Businesses?
    </h4>
    <div class="flex flex-wrap my-8 gap-8">
      <div *ngFor="let item of benefit" class="flex items-center gap-3 mr-8">
        <div class="w-2 h-2 rounded-sm mr-4 bg-black"></div>
        <p class="whitespace-nowrap w-11/12">{{ item }}</p>
      </div>
    </div>
    <div class="my-6">
      <p class="font-normal text-base my-2">
        Morawo helps you to overcome all challenges by providing quality Big
        Data services at an affordable price. Our professional Big Data Analysts
        can synchronize our analytical solutions with your organization's
        strategic, tactical, and operational aims. We offer prescriptive
        analytics depending on your business demands. Using data and models to
        optimize your future business decisions, predictive analytics to
        forecast probable future outcomes, and descriptive analytics to make you
        future-ready by analyzing your past events.
      </p>
      <br />
      <p class="font-normal text-base my-2">
        Our team has a broad view of the different options available, and that
        helps you to assess both commercial product vendors and open source
        options. Our expertise in the data analytics domain has provided
        businesses' demand for actionable insights from their online and offline
        data sources. We are a vendor-neutral player, we audit, consult and
        Implement an optimized data strategy to gain a competing edge.
      </p>
    </div>
  </div>
  <div class="my-4 py-3">
    <h4 class="font-semibold text-xl md:text-3xl">
      Our IoT Analytics Service Include:
    </h4>
    <div class="flex flex-wrap my-6 gap-4">
      <div
        *ngFor="let item of services"
        class="flex items-center w-full sm:w-1/5 gap-3 mr-8"
      >
        <div class="w-2 h-2 rounded-sm mr-4 bg-black"></div>
        <p class="whitespace-normal w-11/12">{{ item }}</p>
      </div>
    </div>
  </div>

  <div class="my-4 py-3">
    <h4 class="font-semibold text-xl md:text-3xl">
      Our Analytics Solution For Various Businesses
    </h4>
    <div class="flex flex-wrap my-6 gap-4">
      <div *ngFor="let item of solutions" class="flex items-center gap-3 mr-8">
        <div class="w-2 h-2 rounded-sm mr-4 bg-black"></div>
        <p class="whitespace-nowrap w-11/12">{{ item }}</p>
      </div>
    </div>
  </div>
  <div class="my-4 py-3">
    <h4 class="font-semibold text-xl md:text-3xl">
      Why Morawo Is The Best Place For IoT Analytics
    </h4>
    <p class="font-normal text-base my-2">
      • We ensure consistency and quality of data being used for analytics
      <br /><br />
      • We reduce data retrieval problems <br /><br />
      • Make decisions more efficiently with a highly visual representation of
      data.<br /><br />
      • We use social media analytics like media and behavioral analytics
      <br /><br />
      • We allow personalization to connect with viewers <br /><br />
      • Track quality of content and viewership and get targeted advertising
      <br /><br />
      • Our team helps uncover new revenue streams. <br /><br />
    </p>
  </div>
</div>
