<div class="bg-black py-6 md:py-16">
  <div class="container mx-auto text-white block md:flex gap-12 items-center">
    <div>
      <p class="font-medium text-sm">Tools & Technology</p>
      <h4 class="text-xl md:text-3xl font-semibold whitespace-nowrap">
        Our Technology Resources
      </h4>

      <div
        class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
      ></div>
    </div>

    <div class="flex gap-4 overflow-x-hidden w-full bg-white mt-8 p-3">
      <div class="carousel">
        <div #carouselInner class="carousel-inner">
          <div class="carousel-item  flex justify-around">
            <div *ngFor="let data of techOne">
              <img [src]="data.image" alt="" width="80px" height="40px" />
            </div>
          </div>
          <div class="carousel-item flex justify-around">
            <div *ngFor="let data of techFour">
              <img [src]="data.image" alt="" width="80px" height="40px" />
            </div>
          </div>
          <div class="carousel-item flex justify-around">
            <div *ngFor="let data of techTwo">
              <img [src]="data.image" alt="" width="80px" height="40px" />
            </div>
          </div>
          <div class="carousel-item flex justify-around">
            <div *ngFor="let data of techThree">
              <img [src]="data.image" alt="" width="80px" height="40px" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


