<div class="container mx-auto min-h-screen flex flex-col justify-center">
  <div class="h-4/5 items-center justify-between">
    <div class="w-full md:my-0">
      <h3
        class="text-3xl md:text-5xl leading-[60px] mb-1 md:mb-3 font-semibold"
      >
        Automotive
      </h3>

      <div
        class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
      ></div>
      <p class="font-normal text-sm my-2">
        Data analytics is essential for the improvement of the automotive
        industry
      </p>
    </div>
    <div class="mt-10 md:block w-full md:w-4/5 mx-a">
      <img src="/assets/images/industry/automative.webp" width="90%" alt="" />
    </div>
  </div>
  <div class="mt-10">
    <p class="text-base md:text-lg">
      Companies in the automotive industry can use data science and machine
      learning to optimize the quality of their products and processes across
      all business areas.<br />
      <br />

      In the past, the automotive industry was an engine of technical
      innovation. In terms of digitization, however, it took a while for many
      original equipment manufacturers (OEMs) to start innovating in this
      area.<br />
      The areas of application of data science and machine learning in the
      automotive sector are almost limitless. Starting with the modeling and
      forecasting of quality problems, through the application of scoring and
      forecasting models in the aftersales area, to the implementation of
      complex deep learning models in the field of autonomous driving, many
      things seem possible and sensible.
      <br />
    </p>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Why you should Contact Morawo for your automotive business
    </h4>
    <p class="font-normal my-2 text-sm">
      Our data science team has extensive industry experience in the automotive
      sector and supports you as a company in the automotive industry in the
      development, and implementation of data science and analytics projects in
      your company.
    </p>
    <p class="font-normal my-2 text-sm">
      • Predictive maintenance: With predictive maintenance, you can identify
      defects before they occur and rectify them.
    </p>
    <p class="font-normal my-2 text-sm">
      • Detection of anomalies: Automatically identify unusual or deviating data
      points in your quality data.
    </p>
    <p class="font-normal my-2 text-sm">
      • Forecasting: Use machine learning and statistics to precisely forecast
      sales figures, revenues and costs.
    </p>
    <p class="font-normal my-2 text-sm">
      • Root cause analysis: Investigate interdependencies in your data and use
      them to improve your products.
    </p>
    <p class="font-normal my-2 text-sm">
      • Deep learning: Use modern deep learning methods to process image and
      text information.
    </p>
    <p class="font-normal my-2 text-sm">
      • Pattern search: Automatically identify common damage or costs in your
      quality data.
    </p>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Main benefits of data analytics in the automotive industry
    </h4>
    <div *ngFor="let item of benefits" class="py-3">
      <div class="flex gap-2 items-center my-2">
        <img src="/assets/icons/black-box.svg" width="12" height="10" alt="" />
        <p class="font-medium text-base">{{ item.mainText }}</p>
      </div>
      <p class="font-normal ml-6 text-sm">{{ item.text }}</p>
    </div>
  </div>

  <div class="my-5">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Use Morawo Solutions to make data-based decision in your automotive
      business
    </h4>
    <p class="font-normal text-sm my-1">
      At Morawo, we carry out data processing adapted to the needs of your
      automobile company in order to help you understand the market and segment
      your target audience. In this way, you will be able to know the tastes and
      preferences of your customers, and thus, focus the advertising campaigns
      appropriately and orient your services to them. And, there is nothing like
      having the best information to make better decisions. 
    </p>
  </div>
</div>
