<!-- custom-carousel.component.html -->
<div class="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div
        class="bg-homeImage01 min-h-screen bg-no-repeat bg-center bg-cover w-full flex items-center mx-auto"
      >
        <div class="container mx-auto mt-6 lg:mt-16">
          <div class="w-full lg:w-3/5">
            <p class="text-white text-xs md:text-base font-medium">
              Reimagine Real-World with Technology
            </p>
            <h2
              class="font-bold text-3xl md:text-6xl text-white leading-[55px] md:leading-[74px]"
            >
              Artificial Intelligence Company
            </h2>
            <div class="w-32 h-2 rounded-md my-4 bg-[#D9D9D9]"></div>
            <p class="text-white text-sm md:text-lg font-normal my-8">
              Transform your business with our excellent innovative technologies
              and insights.
            </p>

            <div class="flex items-center gap-5">
              <p class="text-white font-medium text-sm md:text-lg">
                Get A Quote
              </p>

              <img
                src="/assets/icons/arrow-right.svg"
                width="41"
                height="41"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="bg-homeImage02 min-h-screen bg-no-repeat bg-center bg-cover w-full flex items-center mx-auto"
      >
        <div class="container mx-auto mt-6 lg:mt-16">
          <div class="w-full lg:w-3/5">
            <p class="text-white text-xs md:text-base font-medium">
              For Leading Better Brilliant Future
            </p>
            <h2
              class="font-bold text-3xl md:text-6xl text-white leading-[55px] md:leading-[74px]"
            >
              Big Data Analytics Company
            </h2>
            <div class="w-32 h-2 rounded-md my-4 bg-[#D9D9D9]"></div>
            <p class="text-white text-sm md:text-lg font-normal my-8">
              We help you to grow your business in making scalable reliable
              decisions.
            </p>

            <div class="flex items-center gap-5">
              <p class="text-white font-medium text-sm md:text-lg">
                Get A Quote
              </p>

              <img
                src="/assets/icons/arrow-right.svg"
                width="41"
                height="41"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div
        class="bg-homeImage03 min-h-screen bg-no-repeat bg-center bg-cover w-full flex items-center mx-auto"
      >
        <div class="container mx-auto mt-6 lg:mt-16">
          <div class="w-full lg:w-3/5">
            <p class="text-white text-xs md:text-base font-medium">
              Obtain Data-Driven Insights and Analysis
            </p>
            <h2
              class="font-bold text-3xl md:text-6xl text-white leading-[55px] md:leading-[74px]"
            >
              Data Science Company
            </h2>
            <div class="w-32 h-2 rounded-md my-4 bg-[#D9D9D9]"></div>
            <p class="text-white text-sm md:text-lg font-normal my-8">
              Excel your business into the power of data and analytics to make
              accurate decisions.
            </p>

            <div class="flex items-center gap-5">
              <p class="text-white font-medium text-sm md:text-lg">
                Get A Quote
              </p>

              <img
                src="/assets/icons/arrow-right.svg"
                width="41"
                height="41"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#" role="button" (click)="prevSlide()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#" role="button" (click)="nextSlide()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
