<div class="container mx-auto min-h-screen flex flex-col justify-center">
  <div class="h-4/5 items-center justify-between">
    <div class="w-full md:my-0">
      <h3
        class="text-3xl md:text-5xl leading-[60px] mb-1 md:mb-3 font-semibold"
      >
        Media and Entertainment
      </h3>

      <div
        class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
      ></div>
      <p class="font-normal text-sm my-2">
        Data analytics brings essential transformation to modern media and
        entertainment
      </p>
    </div>
    <div class="mt-10 md:block w-full md:w-4/5 mx-a">
      <img src="/assets/images/industry/media.webp" width="90%" alt="" />
    </div>
  </div>
  <div class="mt-10">
    <p class="text-base">
      The term Big Data continues to be the buzzword in business and media
      environments. Many still distrust and believe that it is all smoke and
      there is little concrete. <br />
      <br />

      The media and entertainment industry has always experienced periods of
      rapid change, but the current situation is unprecedented. For children
      growing up today, there is no such thing as “on-demand television” because
      for them it is simply “television”. Whether it's movies, TV, music or
      gaming, we expect it to be on demand, across our favorite channels and
      devices. It's a new world where there are many opportunities for companies
      that will adapt quickly. <br />
      <br />
      Data is at the heart of this new era. Going forward, if today's media and
      entertainment leaders want to stay ahead of new competitors, they will
      need to put data at the heart of their strategy. A good data management
      infrastructure, integrating security from the start, will allow these
      companies to optimize the creation and distribution of their content,
      while measuring its success more effectively. These technologies are very
      beneficial and companies that invest now will become the market leaders of
      tomorrow. <br />
      <br />
      Nowadays people are connected to a large number of digital devices, since
      when you register on a social network or on numerous websites, you do so
      with your data. This leads to the generation of a large amount of data
      that the media and entertainment companies use for their own benefit. For
      example: know the interests and tastes of the audience and show you ads
      that are more effective, among others. In this way, brands can offer you
      individualized recommendations and suggestions based on your tastes.<br /><br />
    </p>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Why businesses should consider integrating data into their processes
    </h4>

    <div class="font-normal my-2">
      <p class="text-base my-2">
        The business world is constantly evolving due to changes in new ways of
        entering the market, making it essential for entrepreneurs to adopt
        innovative strategies that give them competitive advantages. For this,
        recognizing the value of data, carrying out data analytics, acquiring
        digital skills and using emerging technologies, allows to enhance the
        opportunities of success for companies.
      </p>
      <p class="text-base my-2">
        In any sector of the industry, businesses try to generate better
        provisions for their environment, achieving an increase in efficiency,
        optimizing production times and making improvements in all operations.
        The analytical data therefore aim to support and promote the growth
        strategies of each company, performing processing and categorizing the
        information they have of business processes in order to achieve a better
        decision process.
      </p>
    </div>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Data science in other sectors
    </h4>

    <div class="font-normal my-2">
      <p class="text-base my-2">
        • Education: data can be extracted from students, teachers and results,
        and when used in the correct way can help improve the effectiveness and
        operation of educational centers. For example: creating personalized
        learning programs focused on benefiting individual students, rethinking
        the content of the academic course, offering online learning solutions
        and even assisting in the choice of the students' professional career
        based on their background, since it allows better understand their
        interests and weaknesses.
      </p>
      <p class="text-base my-2">
        • Health: it is another sector where a lot of data is generated on a
        daily basis and its proper use can contribute to improving medical care
        and making more effective diagnoses. 
      </p>
      <p class="text-base my-2">
        • Banking: the amount of data that is generated every minute within this
        sector is really abundant. That is why, if they are studied and used in
        the right way, they can greatly help to detect all the illegal
        activities that can be carried out. The improper use of credit or debit
        cards, credit risks and suspicious transactions, among many others data
        can really transform this sector.
      </p>
    </div>
  </div>
</div>
