<div class="container mx-auto min-h-screen flex flex-col justify-center">
  <div class="h-4/5 items-center justify-between">
    <div class="w-full md:my-0">
      <h3
        class="text-3xl md:text-5xl leading-[60px] mb-1 md:mb-3 font-semibold"
      >
        Travel and Hospitality
      </h3>

      <div
        class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
      ></div>
      <p class="font-normal text-sm my-2">
        Implementation of data analytic to improve the travel and hospitality
        sector
      </p>
    </div>
    <div class="mt-10 md:block w-full md:w-4/5 mx-a">
      <img src="/assets/images/industry/travel.webp" width="90%" alt="" />
    </div>
  </div>
  <div class="mt-10">
    <p class="text-sm md:text-base">
      Data science makes it possible to set up personalized offers by analyzing
      geographical locations, search history, traffic, or even travel-related
      expenses.<br />
      <br />

      In the past, the automotive industry was an engine of technical
      innovation. In terms of digitization, however, it took a while for many
      original equipment manufacturers (OEMs) to start innovating in this
      area.<br /><br />
      The travel and hospitality sector is an underutilized sector, with a real
      economic model on which it is necessary to capitalize. We are already
      witnessing the transformation of the model and therefore the creation of
      differentiating and personalized offers such as agro tourism, sports
      tourism and so on.
      <br />
    </p>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Contact Morawo for the possible applications of data science in the travel
      and hospitability sector
    </h4>
    <p class="font-normal my-2 text-sm">
      • Personalized offers: to retain or attract customers, the offers must
      correspond to their situation. Big data makes it easier to offer them
      personalized services. This considering their location, search history,
      traffic, travel expenses, etc.
    </p>
    <p class="font-normal my-2 text-sm">
      • Airport services: Focusing on the information provided by travellers as
      they pass through airports helps to effectively plan the services and
      resources available to airlines. By also carrying out a research, it is
      possible to know how customers get around, whether they visit duty-free
      shops, whether they are renting a car or not.
    </p>
    <p class="font-normal my-2 text-sm">
      • A personalized welcome at the hotel: consulting clients' profiles on
      social networks or in their client files helps to quickly know who they
      are. Thus, on their arrival, we can welcome them as in a personalized way
      and treat them like regulars.
    </p>
    <p class="font-normal my-2 text-sm">
      • Smart bracelets: these sensors can contain information about the wearer.
      By scanning them, they become accessible and allow employees to surprise
      tourists. For example, using their name to address them. In addition,
      these wristbands effectively replace the hotel room key and store credit
      card information which is more convenient for shopping.
    </p>
    <p class="font-normal my-2 text-sm">
      • Direct billing of minibar costs: in some hotels, the minibars have a
      built-in scanner. The latter examines which products are available and
      which are no longer available. So, the consumption costs will be added
      directly to the stay card.
    </p>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Why businesses should consider data science and data analytics
    </h4>
    <div *ngFor="let item of benefits" class="py-3">
      <div class="flex gap-2 items-center my-2">
        <img src="/assets/icons/black-box.svg" width="12" height="10" alt="" />
        <p class="font-medium text-base">{{ item.mainText }}</p>
      </div>
      <p class="font-normal ml-6 text-sm">{{ item.text }}</p>
    </div>
  </div>

  <div class="my-5">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Our solutions at Morawo can help your travel and hospitality business
      with:
    </h4>
    <p class="font-normal text-sm my-1">
      • Revenue Generation <br /><br />
      • Market Research <br /><br />
      • Ensure Reputation Management <br /><br />
      • Enhanced Customer Experience <br /><br />
      • Helps with Strategic Marketing <br /><br />
    </p>
  </div>
</div>
