<div class="container mx-auto min-h-screen flex flex-col justify-center">
  <div class="h-4/5 items-center justify-between">
    <div class="w-full md:my-0">
      <h3
        class="text-3xl md:text-5xl leading-[60px] mb-1 md:mb-3 font-semibold"
      >
        Education
      </h3>

      <div
        class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
      ></div>
      <p class="font-normal text-sm my-2">
        Applying Big Data in education offers a multitude of benefits.
      </p>
    </div>
    <div class="mt-10 md:block w-full md:w-4/5 mx-a">
      <img src="/assets/images/industry/education.webp" width="90%" alt="" />
    </div>
  </div>
  <div class="mt-10">
    <p class="text-base">
      One of the real benefits of data science in education is that it offers an
      optimal and personalized learning experience that is tailored to the
      individual needs of each student.<br />
      <br />

      In education, the practice of using data and learning analytics to drive
      decision making is rapidly being adopted. Despite being a practice that is
      still in development, administrators and teachers around the world are
      increasingly looking for information to help them make better decisions
      and meet goals.<br />
      <br />
      Although personalized learning is one of the most exciting benefits of
      data-driven technologies and learning analytics, institutions must
      understand the differences between personalized learning and prescriptive
      learning, and ensure that both faculty and students explore a wide range
      of skills.<br />
      <br />
    </p>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Morawo would assist you with the collection and analysis of essential data
      in the education sector
    </h4>
    <p class="text-base my-3">
      eLearning Industry is a platform that enables computer-aided learning and
      knowledge sharing. It describes decision-making in the education system
      that is based on data as follows:<br />
      "A systematic collection, analysis, investigation and interpretation of
      data in order to provide methods and strategies in educational
      institutions with information".
    </p>
    <p class="text-base my-3">
      In other words, education data is collected and analyzed to improve
      education in schools. Large amounts of educational data are collected
      every day, especially in the university system, from various data sources
      in a wide variety of formats. The different types of education data are
      noisy eLearning Industry:
    </p>
    <p class="text-base my-3">
      Student related data such as demographics and past academic achievements.
    </p>
    <p class="text-base my-3">
      Data on the teaching staff, such as skills and professional experience.
    </p>
    <p class="text-base my-3">
      Data generated during class, study, and assessment. This data can be
      collected both in the physical classroom and through the collection of
      curricula, assessment methods and classroom management.
    </p>
    <p class="text-base my-3">
      Staff, infrastructure, financial plans, educational and non-educational
      staff, hardware and software, and expenses.
    </p>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Important education data that can be collected via data science
    </h4>
    <p class="text-base my-3">
      • Registration metadata: data is automatically collected on the website.
      This includes information such as: visitors, interactions, IP address of
      the visitors, cookies and browser settings, which can help to identify
      causes of technical problems. 
    </p>
    <p class="text-base my-3">
      • Application statistics: Automatic collection of information about
      interactions with the functions of the website in order to identify useful
      functions.
    </p>
    <p class="text-base my-3">
      • Assessment data: It consists of test results and observations to check
      the students' learning progress.
    </p>
    <p class="text-base my-3">
      • Attendance: data on attendance at school and in courses; Suspensions and
      expulsions from school can be used to test for truants.
    </p>
    <p class="text-base my-3">
      • Demography: Personal data of the students such as date of birth, gender,
      ethnicity, language, socio-economic position, impairments, special school
      support, etc. These data are used to understand the needs of a diverse
      group of pupils and to develop personal teaching units.
    </p>
    <p class="text-base my-3">
      • Enrollment Information: Grade Levels, Classroom Engagement, Mentor,
      Courses Chosen, and Graduation Year.
    </p>
    <p class="text-base my-3">
      • Information about the students: student name, ID number and contact
      information.
    </p>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Using the collected data efficiently
    </h4>

    <div class="font-normal my-2">
      <p class="text-base my-2">
        Because there is so much data available, you end up using only a
        fraction of the collected learning data. This data includes a wide
        variety of information, such as engagement data, time spent on task,
        performance in activities and achievements. And everything should be
        analyzed in the context of the student and considering their specific
        circumstances and needs.
      </p>
      <p class="text-base my-2">
        Any special assistance situation, disability, cultural differences and
        other influencing factors should always be considered.
      </p>
      <p class="text-base my-2">
        Data on their own are not very valuable and can be easily
        misinterpreted. When we consider the context, apply objectives and
        strategies, and evaluate those elements, the data becomes valuable
        information and knowledge that allows us to take actions to achieve
        results.
      </p>
    </div>
  </div>
</div>
