<div class="container mx-auto min-h-screen flex flex-col justify-center">
  <div class="block md:flex h-4/5 items-center justify-between">
    <div class="w-full md:w-1/2 my-32 md:my-0">
      <h3
        class="text-3xl md:text-5xl leading-[60px] mb-1 md:mb-3 font-semibold"
      >
        Data Science Services
      </h3>

      <div
        class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
      ></div>
      <p class="font-normal text-sm my-2">
        Improve Your Business Performance With Data Science Service
      </p>
    </div>
    <div class="hidden md:block w-2/5">
      <img
        src="/assets/images/service/01.webp"
        style="margin: 0 auto"
        width="90%"
        alt=""
      />
    </div>
  </div>
  <div class="mt-8">
    <p class="font-normal text-sm">
      Data science and machine learning are the base for business growth, cost
      and risk decrease, and even new business model creation. Data science aims
      to extract insight from data in different forms, both structured and
      unstructured. It’s a multi-disciplinary field, including everything from
      applied mathematics to statistics and artificial intelligence to machine
      learning.
<br />
      <br />

      Today so many enterprises are using data science to unlock the value of
      Big Data with actionable insights to allow data-driven choices for
      products and services that decrease customer churn, improve customer
      satisfaction, optimize operations, re-define business strategies and grow
      profits.
    </p>
  </div>
</div>
