<div
  *ngIf="value === 'Data visualization'"
  class="flex container mx-auto flex-col md:flex-row items-center justify-between py-4 md:py-8"
>
  <div class="hidden md:block w-2/5">
    <img src="/assets/images/img-04.png" width="100%" height="auto" alt="" />
  </div>
  <div class="w-full px-4 md:px-0 md:w-1/2">
    <p class="font-medium text-sm md:text-lg">POSITIVE TRENDS</p>
    <h4 class=" text-xl md:text-3xl font-bold text-grey-one my-2 leading-9">
      Exceed customers' data expectations
    </h4>
    <p class="text-sm font-normal text-grey-two mb-3">
      When application users ask for data, they don’t want static metrics and
      charts. They want data in a form that enables interactive exploration. For
      example, plant managers need to uncover contributing factors to their
      operating KPIs: the right visualization would guide the data exploration
      and insight discovery of their manufacturing performance.
    </p>
    <button class="bg-black p-3 flex items-center text-white text-xs gap-3 rounded-2xl">Learn More <img src="/assets/icons/right-arrow.svg" width="16px" height="16px" alt="" /></button>
  </div>
</div>

