<div class="bg-black">
  <div
    class="container min-h-[80vh] mx-auto flex items-center justify-between gap-10"
  >
    <div class="w-full md:w-2/5">
      <div class="flex gap-3">
        <button class="bg-white rounded-2xl text-xs p-2">
          Artificial Intelligence
        </button>
        <button
          class="bg-white rounded-2xl flex gap-2 items-center text-xs p-2"
        >
          <img src="/assets/icons/time.svg" width="18" height="16" alt="" />
          5min read
        </button>
      </div>
      <h4 class="text-white leading-10 my-4 text-3xl font-bold">
        How AI Is Empowering The Real Estate Industry
      </h4>
      <div class="text-white flex items-center gap-4">
        <img src="/assets/icons/avatar.svg" width="38" height="36" alt="" />
        <p class="font-normal text-sm">Abimbola Doe</p>
        <span class="bg-white rounded-xl w-1 h-1"></span>
        <p class="font-normal text-sm">February 28, 2024</p>
      </div>
    </div>
    <div class="hidden md:block w-1/2">
      <img
        width="100%"
        src="/assets/images/blog-img01.png"
        width="100%"
        alt=""
      />
    </div>
  </div>
</div>

<div class="container mx-auto my-14 flex justify-around">
  <div class="px-6 w-full md:w-4/5">
    <p>
      <span class="font-semibold my-2">
        Empowering Real Estate: The AI Revolution</span
      ><br />
      Artificial Intelligence (AI) has become a transformative force across
      various industries, and real estate is no exception. In recent years, AI
      technologies have revolutionized the way real estate professionals conduct
      business, making processes more efficient, data-driven, and
      customer-centric. From property valuation to customer service, AI is
      empowering the real estate industry in multifaceted ways.<br />
      <span class="font-semibold my-2">
        1. Enhanced Property Valuation and Market Analysis</span
      ><br />
      AI algorithms have significantly improved property valuation methods.
      Machine learning models can analyze vast amounts of data, including
      historical sales data, market trends, neighborhood demographics, and
      property features to generate accurate valuations. This not only saves
      time for real estate agents and appraisers but also provides more precise
      pricing strategies, benefiting both sellers and buyers. Market analysis
      has also been revolutionized by AI tools. Predictive analytics can
      forecast market trends, identify investment opportunities, and assess risk
      factors, helping real estate professionals make informed decisions and
      stay ahead in a competitive market.<br />
      <span class="font-semibold my-2"> 2. Streamlined Property Management</span
      ><br />
      AI-powered property management systems have simplified tasks for
      landlords, property managers, and tenants alike. Chatbots and virtual
      assistants can handle inquiries, schedule maintenance requests, and
      provide information about properties, enhancing customer service and
      reducing response times. IoT (Internet of Things) devices integrated with
      AI can monitor property conditions in real-time, such as temperature,
      humidity, and energy usage, enabling proactive maintenance and cost
      savings. Automated workflows for lease management, rent collection, and
      accounting further streamline operations, allowing property managers to
      focus on strategic tasks.<br />
      <span class="font-semibold my-2">
        3. Personalized Customer Experiences </span
      ><br />
      AI-driven personalization is reshaping how real estate agents interact
      with clients. By analyzing customer data and preferences, AI algorithms
      can suggest tailored property listings, recommend neighborhoods based on
      lifestyle choices, and even anticipate future housing needs. This level of
      customization enhances customer satisfaction, builds trust, and increases
      conversion rates. Virtual reality (VR) and augmented reality (AR)
      technologies powered by AI offer immersive property tours, allowing
      potential buyers and tenants to experience properties remotely. This not
      only saves time but also attracts a global audience, making property
      transactions more accessible and efficient.<br />
      <span class="font-semibold my-2"> 4. Risk Mitigation and Compliance</span
      ><br />
      AI solutions are instrumental in risk mitigation and ensuring regulatory
      compliance in real estate transactions. Fraud detection algorithms can
      flag suspicious activities, prevent identity theft, and secure sensitive
      data during transactions. Compliance monitoring tools help real estate
      professionals stay updated with legal requirements, reducing legal risks
      and ensuring ethical business practices. <br />
      <span class="font-semibold my-2">
        5. Data-Driven Insights and Decision Making</span
      ><br />
      The abundance of data in the real estate industry can be overwhelming
      without AI-driven analytics. Advanced data analytics tools can extract
      valuable insights from large datasets, such as customer preferences,
      market trends, investment opportunities, and operational performance
      metrics. These insights empower real estate professionals to make
      data-driven decisions, optimize marketing strategies, and allocate
      resources effectively.<br />
      <span class="font-semibold my-2"> Conclusion </span> <br />
      AI is not just a buzzword in real estate—it's a game-changer. By
      leveraging AI technologies, the industry is experiencing unprecedented
      levels of efficiency, innovation, and customer satisfaction. From
      automating routine tasks to providing personalized experiences and
      improving decision-making, AI is empowering every aspect of the real
      estate ecosystem. As AI continues to evolve, we can expect even greater
      transformations and opportunities in the dynamic world of real estate.
    </p>
  </div>
  <div class="hidden md:block w-1/6 ">
    <div class="border border-grey-200 py-4 px-2">
      <p class="text-sm font-semibold mb-4">Recent Blog Post</p>
      <div class="flex gap-2">
        <img src="/assets/icons/black-box.svg" width="12" height="10" alt="" />
        <p class="text-xs font-normal">
          Transforming Security Analytics with Generative AI
        </p>
      </div>
      <div class="flex gap-2 my-2">
        <img src="/assets/icons/black-box.svg" width="12" height="10" alt="" />
        <p class="text-xs font-normal">
          Transforming Security Analytics with Generative AI
        </p>
      </div>

      <button
        *ngFor="let content of contents"
        [ngClass]="{ 'active-state': blogData === content.text }"
        (click)="changeView(content.text)"
        class="py-2 px-2 rounded-3xl m-1 border lg:m-2 text-[#333333] font-normal text-xs"
      >
        {{ content.text }}
      </button>
    </div>
  </div>
</div>

<div class="container mx-auto">
  <p class="text-xs font-medium">Blogs</p>
  <h3 class="text-2xl md:text-4xl leading-[60px] mb-1 md:mb-3 font-semibold">
    Also Read
  </h3>

  <div
    class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
  ></div>
  <app-our-articles [blogs]="blogPost"></app-our-articles>
</div>
