<div class="bg-white">
  <div class="container mx-auto py-8 my-10 flex flex-col gap-14">
    <div
      class="flex justify-between rounded-4xl bg-[#BFBFBF0D] p-10 border border-[#C4C4C433]"
    >
      <div class="w-1/2">
        <div class="font-semibold text-sm leading-6 text-main-light-green">
          OUR VISION
        </div>
        <h4
          class="text-[#222222] font-medium text-5xl leading-[70px] mb-4 w-full lg:w-3/4"
        >
          Pioneering Data Solutions
        </h4>
        <p class="text-lg leading-6 text-body-grey">
          Pioneering data analytics solutions that propel Nigerian enterprises
          to unprecedented success, driving innovation and competitiveness in an
          ever-evolving digital era.
        </p>
      </div>
      <div class="w-2/5">
        <img
          src="/assets/images/img-02.png"
          width="100%"
          height="auto"
          alt=""
        />
      </div>
    </div>
    <div
      class="flex justify-between rounded-4xl bg-[#BFBFBF0D] p-10 border border-[#C4C4C433]"
    >
      <div class="w-5/12">
        <img
          src="/assets/images/img-03.png"
          width="100%"
          height="auto"
          alt=""
        />
      </div>
      <div class="w-1/2">
        <div class="font-semibold text-sm leading-6 text-main-light-green">
          OUR MISSION
        </div>
        <h4
          class="text-[#222222] font-medium text-5xl leading-[70px] mb-4 "
        >
          Transforming Nigerian Businesses
        </h4>
        <p class="text-lg leading-6 text-body-grey">
          Pioneering data analytics solutions that propel Nigerian enterprises
          to unprecedented success, driving innovation and competitiveness in an
          ever-evolving digital era.
        </p>
      </div>
    </div>
    <div
      class=""
    >
    
      <div class="">
        <div class="font-semibold text-sm leading-6 text-main-light-green">
          OUR PURPOSE
        </div>
        <h4 class="text-[#222222] font-medium text-5xl leading-[70px] mb-4">
          Data-Driven Innovation in Nigeria
        </h4>
        <p class="text-lg leading-6 text-body-grey mb-10">
          Amidst Nigeria's economic recession, our purpose is clear: to equip
          Nigerian businesses with the indispensable tools of data analytics,
          enabling them to not only weather the storm but thrive amidst
          adversity. By harnessing the insights buried within data and the
          protective shield of cybersecurity, we empower enterprises to make
          informed decisions, seize opportunities, and forge a path towards
          economic recovery and long-term stability, transforming challenges
          into opportunities for growth and innovation.
        </p>
        <button
          class="flex gap-2 justify-center rounded-lg font-medium p-3 bg-black text-white w-40"
        >
          Contact Us
        </button>
      </div>
    </div>
  </div>
</div>
