<div class="container mx-auto min-h-screen flex flex-col justify-center">
  <div class="h-4/5 items-center justify-between">
    <div class="w-full md:my-0">
      <h3
        class="text-3xl md:text-5xl leading-[60px] mb-1 md:mb-3 font-semibold"
      >
        Manufacturing
      </h3>

      <div
        class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
      ></div>
      <p class="font-normal text-sm my-2">Manufacturing</p>
    </div>
    <div class="mt-10 md:block w-full md:w-4/5 mx-a">
      <img src="/assets/images/industry/manufacture.webp" width="90%" alt="" />
    </div>
  </div>
  <div class="mt-10">
    <p class="text-base md:text-lg">
      Industrial companies can use data science in a variety of ways to control
      and optimize data-driven quality, processes and services related to the
      manufacture of their products.  <br /><br />
      The digital industrial revolution is here. Where the introduction of the
      steam engine revolutionized industrial production processes more than a
      hundred years ago. Today, it is data, algorithms and artificial
      intelligence that represent the next step in industrial production.<br />
      The algorithm-based production of goods and goods enables entire
      manufacturing processes to be better monitored, adjusted and optimized.
      Machine learning models anticipate maintenance needs and defects in
      machines and components. Forecast models allow the customer demand for
      goods to be predicted. The list of possible use cases for data science in
      industry is as long as it is profitable.<br />
      Our team has extensive data science experience and supports you as an
      industrial company in the development, implementation and implementation
      of data science and analytics projects in your plants and headquarters.
    </p>
  </div>
</div>

<div class="container mx-auto my-4 md:my-10">
  <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
    Our solutions at Morawo
  </h4>
  <p class="font-normal text-base">
    • Data Science Consulting and Training <br />
    • Data Mining <br />
    • Deep learning <br />
    • Predictive analytics and data science <br />
    • Recommendation systems <br />
    • Natural Language Processing (NLP) <br />
  </p>
</div>

<div class="container mx-auto my-4 md:my-10">
  <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
    Data Science in Manufacturing
  </h4>
  <p class="font-normal text-base">
    There is a large amount of data present today on products, demand, supply,
    consumer preference, manufacturers, etc. The main reason all of this data
    can be useful is that industries can now leverage knowledge to meet needs
    and demands of their clients without any delay or lack of quality.
  </p>
  <div class="my-6">
    <p class="font-normal my-3 text-base">
      Data science can be helpful with regards to manufacturing in many ways,
      such as:
    </p>
    <p class="font-normal text-base">
      • Demand forecast <br />
      • Product customization <br />
      • Detect any type of anomaly in the supply or product chain <br />
      • Predictive Maintenance <br />
      • Automating the entire purchase and order process <br />
      • Offer different personalized services to clients and clients. <br />
    </p>
  </div>
</div>

<div class="container mx-auto my-4 md:my-10">
  <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
    Data sourcing for the manufacturing industry
  </h4>
  <p class="font-normal text-sm my-2">
    Data is everywhere and all this data is valuable if used correctly. In a
    value chain, one can find various types of data like sales, supply,
    maintenance data, etc. Apart from that, even consumers are producing a lot
    of data because many of the appliances and devices today are installed with
    sensors that give data about the product and its behavior. This is the best
    way to understand product quality and how and where there is a performance
    anomaly.
  </p>
  <p class="font-normal text-sm my-2">
    There is also a large amount of data present in plant histories and
    enterprise resource planning (ERP) systems, as they are a great source of
    data for production, operations and processing capabilities. Maintenance
    records and machine readings, asset data, manuals, etc. are also good
    sources of data
  </p>
</div>

<div class="container mx-auto my-4 md:my-10">
  <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
    Benefits of Using Data Science in Manufacturing
  </h4>
  <p class="font-normal text-sm my-1">
    There are many ways that big data can be implemented in manufacturing and
    many benefits can be gained as a result such as:
  </p>
  <div>
    <div *ngFor="let item of data" class="py-1">
      <div class="flex gap-2 items-center my-2">
        <p class="font-medium text-base">{{ item.mainText }}</p>
      </div>
      <p class="font-normal text-sm">{{ item.text }}</p>
    </div>
  </div>
</div>

<div class="container mx-auto my-4 md:my-10">
  <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
    Why you should contact Morawo Data Analytics
  </h4>
  <p class="font-normal text-sm my-1">
    At Morawo, we have experience in applying AI and Big Data to manufacturing
    processes. With the help of the data received from the sensors, we identify
    problems, analyze the properties and qualities of the parts during the
    process and, in general, extract all kinds of statistical information that
    helps improve decision-making in the event of any critical failure or even
    anticipate the same.
  </p>
</div>
