<div class="container mx-auto min-h-screen flex flex-col justify-center">
  <div class="h-4/5 items-center justify-between">
    <div class="w-full md:my-0">
      <h3
        class="text-3xl md:text-5xl leading-[60px] mb-1 md:mb-3 font-semibold"
      >
        Real Estate and E-commerce
      </h3>

      <div
        class="bg-gradient-to-r from-grey-700 to-grey-200 w-32 h-2 rounded-2xl"
      ></div>
      <p class="font-normal text-sm my-2">
        Transform your real estate and e-commerce services with data science
      </p>
    </div>
    <div class="mt-10 md:block w-full md:w-4/5 mx-a">
      <img src="/assets/images/industry/real-estate.webp" width="90%" alt="" />
    </div>
  </div>
  <div class="mt-10">
    <p class="text-sm md:text-base">
      Big Data brings predictive management to the heart of the real estate
      professions. Predictive investment models are particularly in the
      spotlight. They will develop even more over the next few months and
      years.<br />
      <br />

      Access to analyzed data allows real estate agents and other professionals
      in the field to refine the targeting of their clients via visualization
      tools, but above all to set up, for the most advanced algorithms,
      predictive analysis to anticipate the future needs of their customers.<br /><br />

      Data science is pursuing its revolution in the collection and use of data
      in all sectors. Real estate and E-commerce are not forgotten in this
      perpetual movement. Thanks to related technologies, they thus have the
      possibility of acquiring more easily and more quickly knowledge on the
      market and on the behavior of buyers, sellers, tenants or simple
      prospects. And that's not all, predictive analytics opens the door to all
      possibilities.
      <br /><br />
    </p>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Data science at the service of Real estate and E-commerce
    </h4>
    <p class="font-normal my-2 text-sm">
      Real estate and e-commerce are no exception to the rule: they produce an
      impressive stream of continuous data that should be analyzed. These data
      mainly relate to:
    </p>
    <p class="font-normal my-2 text-sm">• Price changes.</p>
    <p class="font-normal my-2 text-sm">
      • The deadlines linked to the various transactions.
    </p>
    <p class="font-normal my-2 text-sm">
      • Information on past, current and future projects.
    </p>
    <p class="font-normal my-2 text-sm">
      • The number of real estate transactions.
    </p>
    <p class="font-normal my-2 text-sm">
      Data pertaining to the customers are:
    </p>
    <p class="font-normal my-2 text-sm">• Rental investment projects.</p>
    <p class="font-normal my-2 text-sm">
      • Principal residence purchase projects.
    </p>
    <p class="font-normal my-2 text-sm">
      • Information relating to mortgage loan applications.
    </p>
    <p class="font-normal my-2 text-sm">• The level of household debt.</p>
    <p class="font-normal my-2 text-sm">
      Thanks to Data science tools, businesses can thus collect this data,
      combine it and analyze it for the purpose of anticipation. The correlation
      of information makes it possible to anticipate the needs of a buyer or a
      seller.
    </p>
    <p class="font-normal my-2 text-sm">
      Many tools related to Big Data have thus developed to meet the needs of
      real estate and e-commerce businesses. We are thinking in particular of
      CRM to collect information but also of data visualization to have a global
      vision of the market and adapt its development, growth and marketing
      strategy. Sites currently make it possible to estimate changes in the
      short, medium and long term, to sell a home in a few minutes or to find
      potential buyers interested in a specific property. A considerable saving
      of time for the real estate professions.
    </p>
  </div>

  <div class="my-6">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Main categories of data for the real estate sector:
    </h4>
    <p class="font-normal my-2 text-sm">
      Real estate market data (number of transactions, average time, price
      trends, etc.)
    </p>
    <p class="font-normal my-2 text-sm">
      Data specific to buyers (socio-professional activity, income and budget,
      home-work journey, community affinity, budget, criteria for the property
      sought)  
    </p>
    <p class="font-normal my-2 text-sm">
      Data related to the environment (infrastructure and public equipment,
      shops)
    </p>
    <p class="font-normal my-2 text-sm">
      Data dealing with the sales process (number of ads viewed, average time
      between first contact and signing of the deed of sale)
    </p>
  </div>

  <div class="my-5">
    <h4 class="text-xl my-4 md:text-3xl text-black font-semibold">
      Why Data Science is important in real estate and e-commerce
    </h4>
    <p class="font-normal text-sm my-2">
      • Target clients: Big Data tools allow real estate agents to know which
      property may be of interest to which target. They therefore avoid wasting
      time in any unnecessary prospecting.
    </p>
    <p class="font-normal text-sm my-2">
      • Anticipate customer needs: having all the information and data on an
      asset and on a sector makes it possible to anticipate needs but also
      customer requests and objections. The real estate professions can thus
      arrive with a solid file to convince and persuade. With the analysis of
      real estate projects in progress in a more or less large sector (district,
      city, district, regional department, etc.) real estate agents make supply
      and demand coincide.
    </p>
    <p class="font-normal text-sm my-2">
      • Help clients in their choice: if human can never be replaced in real
      estate and e-commerce, Big Data brings real added value to the sale and
      purchase process. Accurate information in support, the real estate agent
      can thus bring his know-how to his clients. Location of the property,
      nearby services, direct environment, amenities and so much data that the
      professional can relay to individuals in a few seconds. These are
      obviously decisive criteria in the purchase decision. Disseminating them
      transparently and quickly is a real plus to help the prospect take the
      plunge.
    </p>
  </div>
</div>
